.slider__navigation {
    display: flex;
}

.slider__navigation .active {
    width: 24px;
    height: 4px;
    background: #D5DAE0;
    border-radius: 10px;
}

.slider__navigation__item {
    width: 8px;
    height: 4px;
    background: #d5dae0;
    border-radius: 10px;
    margin-right: 8px;
}

.slider__navigation .active div {
    border-radius: 10px;
    width: 16px;
    height: 4px;
    background: #EE3D48;
}
.block-order__rent-time .active{
    background-color:#EE3D48 ;

}