@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
h1, p, span, a, li, label, button {
  font-family: 'Roboto'
}

h1 {
  font-weight: 700;
}

.App {
  color: #131313;
  max-width: 360px;
}

button {
  cursor: pointer;
}

img {
  object-fit: scale-down;
}

#root {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.label-hidden {
  opacity: 0;
}

.block-order__item button:hover, .order-modal button:hover {
  opacity: 0.7;
}